@media screen and (max-width: 800px) {
    #home-container {
        height: unset;

        $logo-width: 85%;
        #lottie-animation {
            width: $logo-width;
        }

        .description {
            max-width: $logo-width;
        }

        .social-media-container {
            justify-content: center;
            position: static;
            width: 100%;
            margin-top: 5rem;
        }
    }
}

@media screen and (max-width: 500px) {
    #home-container {
        $logo-width: 100%;
        #lottie-animation {
            width: $logo-width;
        }

        .description {
            margin-top: 5rem;
            max-width: $logo-width;
            text-align: justify;
        }

        .big-text {
            font-size: 1.5rem;
        }

        .home-button {
            margin-top: 1rem;
        }

        .home-appear {
            opacity: 0;
            transition: opacity 1s;
        }
    }

    .button-container {
        width: 100%;
        .Button {
            width: 100%;
        }
    }
}
