#home-main-container {
	height: calc(100vh - var(--navbar-size));
	// background-color: chocolate;

	.home-content {
		height: 90%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
	}

	$logo-width: 70%;
	#lottie-animation {
		width: $logo-width;
		aspect-ratio: 4.85;
		overflow: hidden;
	}

	.description {
		font-weight: 200;
		margin: 0;
		width: calc($logo-width - 15%);
		padding-top: 2rem;
		text-align: center;
		color: #fff;
	}

	.big-text {
		font-size: 2rem;
		font-size: clamp(2rem, 2vw, 2.5rem);
		font-weight: 900;
		line-height: 1;
		color: #fff;
	}

	.home-button {
		margin-top: 2rem;
	}

	.social-media-container {
		display: flex;
		flex-flow: row nowrap;
		overflow: hidden;
	}
}

.appear {
	opacity: 0;
	transition: opacity 1s;
}

.bottom-info {
	width: 100%;
	margin-top: auto;
	margin-bottom: 1rem;
	// background-color: crimson;
	height: 10%;

	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;

	.able-to-work {
		font-weight: 900;
		font-size: 0.75rem;
		color: #fff;
		position: relative;
		height: fit-content;

		#circle {
			position: absolute;
			display: inline-block;
			left: -4px;
			top: 50%;

			transform: translate(-100%, -50%);

			width: 8px;
			height: 8px;
			border-radius: 1rem;
			background-color: chartreuse;
		}
	}
}

@import "mediaqueries";

.page-enter {
	opacity: 1;
	// transform: translateY(-50px);
}

.page-enter-active {
	opacity: 1;
	// transform: translateY(0px);

	// transition: opacity 300ms, transform 300ms;
	// transition-timing-function: ease;
}

.page-exit {
	opacity: 1;
	// transform: translateY(0px);
}

.page-exit-active {
	opacity: 0;
	// transform: translateY(50px);

	transition: opacity 300ms, transform 300ms;
	// transition-timing-function: ease;
}
