@media screen and (max-width: 1300px) {
	main#projects-main {
		.projects {
			width: 85%;
		}
	}
}

@media screen and (max-width: 1100px) {
	.project-box {
		&:nth-child(2n) > .project-container {
			flex-flow: column;
			text-align: right;

			.project-info {
				align-items: center; //change the orientation from alternate to center

				.project-tech-icons-container {
					flex-flow: row wrap;
				}

				.project-buttons-container {
					flex-flow: row wrap;

					.project-button:first-child {
						margin-right: 1rem;
						margin-left: 0rem;
					}
				}

				.project-tech-icon {
					&:first-child {
						margin-left: unset;
						margin-right: unset;
						margin-inline: 1rem;
					}
				}
			}

			.project-collage-img-container {
				align-items: center;
			}
		}
	}
	//change the orientation of the project info component
	.project-container {
		display: flex;
		flex-flow: column;

		padding-top: unset;
		min-height: unset;
		margin-top: 1rem;
		padding-bottom: 2rem;

		&:first-child {
			padding-top: 5rem;
		}

		.project-info {
			align-items: center;
			width: 100%;
			margin-bottom: 2rem;

			//in this checkpoint is necessary reset the values of basis and grow,
			//the flex-flow has changed and now is causing some troubles
			flex-basis: unset;
			padding-block: 1rem;

			.project-description {
				text-align: center;
				margin-top: 1rem;
				width: min(500px, 100%);
				min-width: unset;
			}

			.project-tech-icon {
				&:first-child {
					margin-left: unset;
					margin-right: unset;
					margin-inline: 1rem;
				}
			}
		}

		.project-collage-main {
			//in this checkpoint is necessary reset the values of basis and grow,
			//the flex-flow has changed and now is causing some troubles
			flex-grow: unset;
			flex-basis: unset;
		}

		.project-collage-img-container {
			align-items: center;

			.project-collage {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.works {
		margin: 4rem 0;

		.project-logo {
			$logo-size: 60px;
			width: $logo-size;
			height: $logo-size;
			margin-inline: 2rem;
		}
	}
}

@media screen and (max-width: 600px) {
	.page-description {
		width: 100%;
	}

	.works {
		.project-logo {
			$logo-size: 50px;
			width: $logo-size;
			height: $logo-size;
			margin-inline: 1rem;
		}
	}
}

@media screen and (max-width: 400px) {
	.works {
		.project-logo {
			$logo-size: 40px;
			width: $logo-size;
			height: $logo-size;
			margin-inline: 0.5rem;
		}
	}
}

// change button distribution and tech icons
@media screen and (max-width: 350px) {
	.project-container {
		.project-info {
			.project-tech-icon {
				margin-top: 1rem;
			}

			.project-techs {
				text-align: center;
			}

			.project-buttons-container {
				flex-flow: column wrap;
				width: 100%;
				margin-top: 2rem;

				.project-button {
					width: 100%;
				}

				.project-button:first-child {
					margin-right: 0rem;
					margin-left: 0;
					margin-bottom: 1rem;
				}
			}
		}
	}

	.project-box {
		&:nth-child(2n) > .project-container {
			.project-info {
				.project-buttons-container {
					.project-button:first-child {
						margin-right: 0;
						margin-left: 0rem;
					}
				}
			}
		}
	}
}
