header#projects {
	position: relative;
	min-height: calc(100vh - var(--navbar-size));

	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

$harbest-blue: #1a4d8a;

$campofuerte-brown: #7a5125;
$campofuerte-green: #90b527;

$intelligentia-red: #db0000;

.harbest-blue {
	color: $harbest-blue;
}

.intelligentia-red {
	color: $intelligentia-red;
}

.campofuerte-brown {
	color: $campofuerte-brown;
}

.campofuerte-green {
	color: $campofuerte-green;
}

.page-title {
	font-size: clamp(2rem, 10vw, 8rem);
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding-top: 3rem;
	// margin-top: 3rem;
}

.page-description {
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	color: #fff;
}

.works {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-around;
	padding: 3rem 12.5vw;
	margin-top: auto;
	background-color: rgba($color: #4f165e, $alpha: 0.5);
	backdrop-filter: blur(5px);
	width: 100vw;
	box-shadow: 0px 0px 16px rgba($color: #000000, $alpha: 0.75);

	p {
		color: #fff;
		// margin-inline: 2rem;
		font-size: 2rem;
		font-weight: 900;
	}
}
