header#projects {
	position: relative;
	min-height: calc(100vh - var(--navbar-size));
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

$harbest-blue: #1a4d8a;

$campofuerte-brown: #7a5125;
$campofuerte-green: #90b527;

$intelligentia-red: #db0000;

$guillermo-red: #a03535;

.harbest-blue {
	color: $harbest-blue;
}

.intelligentia-red {
	color: $intelligentia-red;
}

.campofuerte-brown {
	color: $campofuerte-brown;
}

.campofuerte-green {
	color: $campofuerte-green;
}

.guillermo-red {
	color: $guillermo-red;
}

.page-title {
	font-size: clamp(1.5rem, 10vw, 6rem);
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.page-description {
	font-size: 0.85rem;
	font-weight: 400;
	text-align: center;
	width: 40%;
	margin: 0 auto;
	color: #fff;
}

.works {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	padding: 3rem 20%;
	width: 100vw;
	margin: 4rem 0;

	.project-logo {
		$logo-size: 90px;
		width: $logo-size;
		height: $logo-size;
		margin-inline: 3rem;
		animation: up-down ease-in-out 1s alternate infinite;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

@keyframes up-down {
	$y-movement: 8px;
	from {
		transform: translateY($y-movement);
	}
	to {
		transform: translateY(-$y-movement);
	}
}

main#projects-main {
	background-color: #000;
}

.project-container {
	display: flex;
	flex-flow: row wrap;
	min-height: max(900px, 100vh);
	padding-top: 20vh;

	&:nth-child(2n) {
		flex-flow: row-reverse wrap;
		text-align: right;

		.project-info {
			align-items: flex-end;

			.project-tech-icons-container {
				flex-flow: row-reverse wrap;
			}

			.project-buttons-container {
				flex-flow: row-reverse wrap;

				button:first-child {
					margin-right: 0;
					margin-left: 1rem;
				}
			}

			.project-tech-icon {
				&:first-child {
					margin-right: 0rem;
				}
			}
		}

		.project-collage-img-container {
			align-items: flex-start;
		}
	}
}

@import './mediaqueries';
