.page-title {
    font-size: clamp(2rem, 10vw, 8rem);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3rem;
}

.page-description {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: #fff;
}