@media screen and (max-width: 1300px) {
	#home-main-container {
		width: 80%;

		$logo-width: 50%;
		.lottie-animation {
			width: $logo-width;
		}

		.description {
			width: $logo-width;
		}
	}
}

@media screen and (max-width: 1000px) {
	#home-main-container {
		width: 85%;

		$logo-width: 55%;
		.lottie-animation {
			width: $logo-width;
		}

		.description {
			width: $logo-width;
		}
	}
}

@media screen and (max-width: 840px) {
	#home-main-container {
		height: unset;

		.home-content {
			align-items: center;
		}

		$logo-width: 70%;
		.lottie-animation {
			width: $logo-width;
			aspect-ratio: 4.85;
			overflow: hidden;
		}

		.description {
			width: $logo-width;
			text-align: center;
		}

		.social-media-container {
			background-color: #16011b;
			border-radius: 1.5rem;
			box-shadow: 0px 0px 32px #000;

			margin-top: 3rem;
		}
	}

	.collage-container {
		.collage {
			width: 100%;
		}

		.collage-init {
			opacity: 0;
			transform: translate(5%, 30%) scale(1.25);
		}

		.collage-final {
			opacity: 1;
			transform: translate(5%, 20%) scale(1.25);
		}
	}
}

@media screen and (max-width: 700px) {
	#home-main-container {
		width: 90%;

		.big-text {
			font-size: 1rem;
			padding-top: 0.25rem;
		}

		$logo-width: 90%;
		.lottie-animation {
			width: $logo-width;
		}

		.description {
			width: $logo-width;
			text-align: justify;
			font-size: 0.85rem;
			hyphens: auto;
			margin-block: 1.5rem;
			border-radius: 0.5rem;
			background-color: #1b0221;
			padding: 1rem;
		}
	}

	.available {
		padding: 1rem 0.5rem;
		top: unset;
		bottom: calc(var(--navbar-height) * 2);

		#circle {
			width: 0.35rem;
			height: 0.35rem;
			margin-bottom: 0.25rem;
		}

		.able-to-work {
			font-size: 0.5rem;
		}
	}
}

@media screen and (max-width: 400px) {
	#home-main-container {
		.buttons-container {
			flex-flow: column nowrap;
			width: 90%;
			margin-top: 0px;

			& > button {
				width: 100%;

				&:first-child {
					margin-right: 0;
				}

				&:last-child {
					margin-top: 1rem;
				}
			}
		}

		.description {
			padding: 0;
			margin-block: 2rem;
		}

		.social-media-container {
			margin-top: 2rem;
		}
	}
}
