@use "sass:math";
@use "@styles/base/color";
@use "@styles/utilities/mixins";

$tile-grid-size: 30px;
$tile-scale-duration: 1500ms;

$small-size: 40px;
$medium-size: 80px;
$large-size: 120px;

@mixin loader-shadow($size) {
	box-shadow: 0px 0px $size math.div($size, 2) rgba($color: color.$purple-300, $alpha: 0.5);
}

.small {
	width: $small-size;

	.central-shadow {
		@include loader-shadow($small-size);
	}
}

.medium {
	width: $medium-size;

	.central-shadow {
		@include loader-shadow($medium-size);
	}
}

.large {
	width: $large-size;

	.central-shadow {
		@include loader-shadow($large-size);
	}
}

.tile-grid {
	aspect-ratio: 1;
	position: relative;
}

.central-shadow {
	@include mixins.absolute-center;
}

.tile-base {
	width: 33.33%;
	height: 33.33%;
	float: left;
	-webkit-animation: tileScale $tile-scale-duration infinite ease-in-out;
	animation: tileScale $tile-scale-duration infinite ease;
}

.tile-1 {
	background-color: color.$purple-300;

	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.tile-2 {
	background-color: color.$purple-200;

	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.tile-3 {
	background-color: color.$purple-300;

	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.tile-4 {
	background-color: color.$purple-200;

	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.tile-5 {
	background-color: color.$purple-100;

	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.tile-6 {
	background-color: color.$purple-200;

	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.tile-7 {
	background-color: color.$purple-300;

	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.tile-8 {
	background-color: color.$purple-200;

	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.tile-9 {
	background-color: color.$purple-300;

	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes tileScale {
	0%,
	70%,
	100% {
		transform: scale3D(1, 1, 1);
	}
	35% {
		transform: scale3D(0, 0, 1);
	}
}

@keyframes tileScale {
	0%,
	70%,
	100% {
		transform: scale3D(1, 1, 1);
	}
	35% {
		transform: scale3D(0, 0, 1);
	}
}
