.scroll {
	position: absolute;
	bottom: 0px;
	right: 7.5vw;
	display: flex;
	align-items: center;
	flex-flow: column;

	p {
		color: #7e1e95;
		writing-mode: vertical-rl;
		margin-bottom: 0.5rem;
		font-weight: 900;
	}

	#scroll-line {
		height: 5rem;
		width: 2px;
		display: block;
		background-color: #7e1e95;
		animation: scroll 1.5s ease alternate infinite;
	}
}

@keyframes scroll {
	from {
		height: 5rem;
	}
	to {
		height: 4rem;
	}
}