.scroll {
	position: fixed;

	bottom: var(--navbar-size);
	right: 7.5vw;

	$scroll-size: 45px;
	width: $scroll-size;
	height: $scroll-size * 2;

	//make it circle
	border-radius: 50%;

	display: flex;
	flex-flow: column;

	align-items: center;
	justify-content: center;

	background-color: #7e1e95;
	box-shadow: 0px 0px 32px rgba($color: #000000, $alpha: 0.75);
	overflow: hidden;
	z-index: 900;

	animation: tilt 1000ms linear alternate infinite;

	img {
		width: 60%;
		height: 60%;
		display: none;
		// animation: updown 500ms ease-in-out infinite alternate;
	}

	p {
		color: #7e1e95;
		writing-mode: vertical-rl;
		margin-bottom: 0.5rem;
		font-weight: 900;
	}

	#scroll-line {
		height: 5rem;
		width: 2px;
		display: block;
		background-color: #7e1e95;
		animation: scroll 1s linear alternate infinite;
	}

	#line {
		width: 0.01rem;
		width: 1px;
		height: 100%;
		position: absolute;
		background-color: #fff;
		transform-origin: top;
		// writing-mode: vertical-rl;

		// transform: translateY(0%);

		animation: scroll 1300ms ease infinite;
		// animation-timing-function: cubic-bezier(0.73, -0.58, 0.26, 1.5);
	}
}

@keyframes scroll {
	0% {
		transform: translateY(-115%);
	}
	100% {
		transform: translateY(115%);
	}
}

@keyframes tilt {
	from {
		background-color: #35073f;
	}
	to {
		background-color: #450b52;
	}
}

@keyframes updown {
	from {
		transform: translateY(25px);
	}
	to {
		transform: translateY(-25px);
	}
}
