#no-match {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;

	.error-text {
		font-weight: 900;
		font-size: 5rem;
		font-size: clamp(1.5rem, 10vw, 7rem);
		color: #fff;
		line-height: 1;
		text-align: center;
	}

	p {
		font-size: 1rem;
		font-size: clamp(0.85rem, 1vw, 1rem);
		color: #fff;
		text-align: center;
	}
}

.monster-animation {
	width: min(100%, 400px);
	aspect-ratio: 1;
}

@media screen and (max-width: 900px) {
	#no-match {
		p {
			max-width: 70%;
			margin-inline: auto;
		}
	}
}
