.fancy-link-base {
	//need this position since we're looking for
	//manipulate absolute positioned elements inside
	position: relative;
	overflow: hidden;

	color: #fff;
	font-size: 1rem;
	font-weight: 900;
	text-transform: uppercase;
	text-decoration: none;

	outline: none;
	border: 2px dashed transparent;
	border-radius: 5px;

	$fancy-transition: 500ms;
	transition: color $fancy-transition, border $fancy-transition;

	//if the link is hovered or focused and is not active
	//then apply color and border properties
	&:is(:hover, :focus):not(.fancy-link-active) {
		color: var(--lightest-purple-100);
		border: 2px dashed var(--purple-300);
	}

	//in order to run smooth transition set that property for the spans
	//and also make sure to change the display to block
	span {
		transition: transform 500ms;
		transition-timing-function: cubic-bezier(0.73, -0.58, 0.26, 1.5);
		display: block;
	}

	//if the link is active
	&:is(.fancy-link-active) {
		//move up all span elements
		& > span {
			transform: translateY(-100%);
		}

		//expand the pseudoelement (a line) to fill all container width
		& > .text-hover::after {
			width: 100%;
		}
	}

	.text-hover {
		//this is important since we want to keep this element
		//hidden until user interaction (hover or focus)
		position: absolute;

		//make a line to indicate an active link
		// with the pseudoelement after
		&::after {
			content: '';
			display: block;

			//since we want to manipulate positioning values
			//like left property, we need to set this position
			position: absolute;

			//to make a width transition from center
			//need to set this values (left and transform-translateX)
			//translateY is used only to adjust the separation between the text and line
			left: 50%;
			transform: translateY(-0.3rem) translateX(-50%);

			//initial state
			width: 0%;

			height: 0.15rem;
			background-color: var(--light-purple-200);

			transition: width 500ms;
			transition-timing-function: ease;

			//it takes some time until all the hover span is up to top
			transition-delay: 350ms;
		}
	}
}

.fancy-link-active {
	color: var(--light-purple-200);
}

.fancy-link-pending {
	color: #aaa;
}
