@use '../base/color';
@use '/src/scss/layout/z-index.scss' as Z;

.nav-logo {
	height: calc(100% - 1.5rem);
	aspect-ratio: 3.95;
	overflow: hidden;

	outline: none;
	border: dashed transparent 2px;
	border-radius: 0.5rem;
	padding: 0.25rem 0;

	$transition-time: 500ms;
	transition: opacity $transition-time, border $transition-time;

	//initial state
	opacity: 0;

	z-index: Z.$navbar-top;

	//apply border if is hovered or focused
	&:is(:hover, :focus) {
		border: dashed color.$purple-300 2px;
	}

	.logo {
		width: 100%;
		height: 100%;
	}
}
