#home-main-container {
	height: calc(100vh - var(--navbar-height));
	padding-bottom: var(--navbar-height);
	display: flex;
	flex-flow: column;
	overflow: hidden;

	.home-content {
		flex-grow: 1;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-flow: column;
	}

	.big-text {
		font-size: 1.5rem;
		font-weight: 900;
		color: #fff;
		padding-top: calc(var(--navbar-height) * 1);
	}

	$logo-width: 40%;
	#lottie-animation {
		width: $logo-width;
		aspect-ratio: 4.85;
		overflow: hidden;
	}

	.description {
		font-weight: 400;
		margin: 0;
		width: calc($logo-width);
		text-align: left;
		color: #fff;
		font-size: 1rem;
		color: #f5c8ff;
		margin-block: 2rem;
	}

	.buttons-container {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;

		& > button {
			&:first-child {
				margin-right: 2rem;
			}
		}
	}

	.social-media-container {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		overflow: hidden;

		margin-top: auto;
	}
}

.semi-accent {
	color: #fff;
}

.available {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;

	background-color: #3f074b;
	padding: 1.25rem 0.75rem;
	border-radius: 8px 0px 0px 8px;

	position: fixed;
	top: calc(var(--navbar-height) * 2);
	right: 0;

	#circle {
		display: inline-block;
		width: 0.75rem;
		height: 0.75rem;
		margin-bottom: 0.5rem;
		border-radius: 10rem;

		background-color: chartreuse;
	}

	.able-to-work {
		font-size: 0.75rem;
		font-weight: 900;
		color: #fff;
		text-transform: uppercase;
		line-height: 1;
		-webkit-writing-mode: vertical-rl;
		-ms-writing-mode: tb-rl;
		writing-mode: vertical-rl;
	}
}

.collage-container {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	overflow: hidden;

	.collage {
		width: 70%;
		position: absolute;
		bottom: 0%;
		right: 0%;

		$collage-trans-time: 1000ms;
		transition: opacity $collage-trans-time, transform $collage-trans-time;
		transition-timing-function: ease;
	}

	.collage-init {
		opacity: 0;
		transform: translate(25%, 20%);
	}

	.collage-final {
		opacity: 1;
		transform: translate(20%, 15%);
	}
}

.appear {
	opacity: 0;
	transition: opacity 1s;
}

@import './mediaqueries';

.page-enter {
	opacity: 1;
}

.page-enter-active {
	opacity: 1;
}

.page-exit {
	opacity: 1;
}

.page-exit-active {
	opacity: 0;

	transition: opacity 300ms, transform 300ms;
}
