#home-main-container {
	height: max(calc(90vh - var(--navbar-size)), 500px);
	display: flex;
	flex-flow: column;

	.home-content {
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
	}

	$logo-width: 70%;
	#lottie-animation {
		width: $logo-width;
		aspect-ratio: 4.85;
		overflow: hidden;
	}

	.description {
		font-weight: 200;
		margin: 0;
		width: calc($logo-width - 15%);
		padding-top: 2rem;
		text-align: center;
		color: #fff;
		font-size: 1rem;
	}

	.big-text {
		font-size: 2rem;
		font-size: clamp(1rem, 2.5vw, 2.5rem);
		font-weight: 900;
		line-height: 1;
		color: #fff;
	}

	.home-button {
		margin-top: 2rem;
	}

	.social-media-container {
		display: flex;
		flex-flow: row nowrap;
		overflow: hidden;
	}
}

.bottom-info {
	width: 100%;
	height: fit-content;

	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;

	.able-to-work {
		font-size: 0.75rem;
		font-weight: 900;
		color: #fff;
	}

	.available {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: flex-start;

		#circle {
			display: inline-block;
			width: 0.5rem;
			height: 0.5rem;
			margin-right: 0.25rem;
			border-radius: 1rem;

			background-color: chartreuse;
		}
	}
}

.appear {
	opacity: 0;
	transition: opacity 1s;
}

@import './mediaqueries';

.page-enter {
	opacity: 1;
}

.page-enter-active {
	opacity: 1;
}

.page-exit {
	opacity: 1;
}

.page-exit-active {
	opacity: 0;

	transition: opacity 300ms, transform 300ms;
}
