#home-main-container {
	height: max(calc(100vh - var(--navbar-size)), 90vh);
	padding-bottom: var(--navbar-size);
	display: flex;
	flex-flow: column;
	overflow: hidden;
	// position: relative;

	// background-color: darkorchid;

	.home-content {
		flex-grow: 1;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-flow: column;
	}

	.big-text {
		font-size: 1.5rem;
		font-weight: 900;
		color: #fff;
		padding-top: calc(var(--navbar-size) * 1);
	}

	$logo-width: 35%;
	#lottie-animation {
		width: $logo-width;
		aspect-ratio: 4.85;
		overflow: hidden;
	}

	.description {
		font-weight: 400;
		margin: 0;
		width: calc($logo-width + 5%);
		// margin-top: 1rem;
		text-align: left;
		color: #fff;
		font-size: 1rem;
		color: #f5c8ff;

		margin-block: 2rem;
	}

	.buttons-container {
		// margin-top: 1rem;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;

		& > button {
			&:first-child {
				margin-right: 2rem;
			}
		}
	}

	.social-media-container {
		display: flex;
		flex-flow: row nowrap;
		overflow: hidden;

		margin-top: auto;
	}
}

.semi-accent {
	color: #fff;
}

// .bottom-info {
// 	// width: 100%;
// 	margin-top: auto;
// 	// background-color: firebrick;

// 	$icon-size: 30px;
// 	height: calc($icon-size + 10px);

// 	display: flex;
// 	flex-flow: row;
// 	justify-content: space-between;
// 	align-items: center;

// }

.available {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;

	background-color: #3f074b;
	padding: 1.25rem 0.75rem;
	border-radius: 8px 0px 0px 8px;

	position: absolute;
	top: calc(var(--navbar-size) * 2);
	right: 0;

	#circle {
		display: inline-block;
		width: 0.75rem;
		height: 0.75rem;
		margin-bottom: 0.5rem;
		border-radius: 10rem;

		background-color: chartreuse;
	}

	.able-to-work {
		font-size: 0.75rem;
		font-weight: 900;
		color: #fff;
		text-transform: uppercase;
		// letter-spacing: 2px;
		line-height: 1;
		// margin-bottom: 3rem;
		writing-mode: vertical-rl;
		// writing-mode: vertical-lr;
	}
}

.collage-container {
	position: absolute;
	right: 0;
	bottom: 0;
	// width: 60%;
	width: 80vw;
	height: 80vh;
	z-index: -1;
	overflow: hidden;

	// background-color: cornflowerblue;

	.collage {
		position: absolute;
		// width: 40vw;
		// width: 110%;

		bottom: -18%;
		right: -25%;
	}
}

.appear {
	opacity: 0;
	transition: opacity 1s;
}

@import './mediaqueries';

.page-enter {
	opacity: 1;
}

.page-enter-active {
	opacity: 1;
}

.page-exit {
	opacity: 1;
}

.page-exit-active {
	opacity: 0;

	transition: opacity 300ms, transform 300ms;
}
