.base-button {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	padding: 0.35rem 1.25rem;
	cursor: pointer;
	border-radius: 0.5rem;
	font-weight: 900;
	font-size: 0.75rem;
}

.primary-button {
	background-color: #4a045b;
	border: none;
	color: #fff;
	// box-shadow: 0px 0px 16px #32043d;
	box-shadow: 2px 2px 12px #000;

	transition: background-color 300ms;

	&:hover {
		background-color: #5e0874;
	}
}

.secondary-button {
	// background-color: #32043d;
	background-color: transparent;
	border: 1px solid #7e1e95;
	color: #eeccf6;

	transition: background-color 300ms;

	&:hover {
		background-color: #41074e;
	}
}

.button-icon {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.5rem;

	transition: transform 100ms;
}
