.base-button {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	// padding: 0.75rem 1.25rem;
	padding: 0.75rem 1.5rem;
	cursor: pointer;
	border-radius: 0.5rem;
	font-weight: 900;
	font-size: 0.75rem;
	line-height: 1;
	// letter-spacing: 0.5px;
	text-transform: uppercase;

	&:hover > .button-icon {
		transform: rotate(30deg) scale(1.15);
	}
}

.primary-button {
	background-color: #4a045b;
	border: none;
	color: #fff;
	box-shadow: 3px 3px 16px rgba($color: #000, $alpha: 0.75);

	transition: background-color 300ms, box-shadow 300ms;

	&:hover {
		background-color: #5e0874;
		box-shadow: 0px 0px 20px rgba($color: #000, $alpha: 0.75);
	}
}

.secondary-button {
	// background-color: #32043d;
	background-color: rgba($color: #310a3a, $alpha: 0.5);
	backdrop-filter: blur(8px);
	border: 1px solid #7e1e95;
	color: #eeccf6;

	transition: background-color 300ms;

	&:hover {
		background-color: #41074e;
	}
}

.button-icon {
	$icon-size: 1.15rem;
	width: $icon-size;
	height: $icon-size;
	margin-right: 0.75rem;
	display: inline-block;
	transform-origin: center;

	transition: transform 450ms;
	transition-timing-function: cubic-bezier(0.73, -0.58, 0.26, 1.5);
}
