@use "@styles/utilities/mixins";
@use "@styles/base/color";

.fancy-form {
	@include mixins.border(color.$purple-300);
	min-height: 50vh;
	border-radius: var(--global-border-radius);
	margin-block: 2rem;
}
