#about {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;

    // background-color: chartreuse;

    // min-height: 100vh;
    padding-top: calc(var(--navbar-size) + 2rem);

    position: relative;

    .upper-title {
        font-size: 1.5rem;
        color: #7e1e95;
        font-weight: 900;
        line-height: 1;
    }

    .main-title {
        font-size: 5rem;
        color: #fff;
        font-weight: 900;
        line-height: 1;
        position: relative;

        $width: 5rem;
        &::before {
            content: "";
            position: absolute;
            width: $width;
            height: 0.5rem;
            background-color: #7e1e95;
            right: calc(100% + 2rem);
            top: 50%;
            border-radius: 1rem;
        }

        &::after {
            content: "";
            position: absolute;
            width: $width;
            height: 0.5rem;
            background-color: #7e1e95;
            left: calc(100% + 2rem);
            top: 50%;
            border-radius: 1rem;
        }
    }

    .bottom-title {
        font-size: 0.85rem;
        color: #fff;
        font-weight: 300;
        line-height: 1;
    }

    .about-description {
        color: #fff;
        margin-top: 3rem;
        width: 50%;
        font-size: 1rem;
    }

    .cards-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        // margin-top: auto;
        // margin-bottom: 5rem;
        // margin-top: 5rem;
        margin: 5rem 0;
        // background-color: chartreuse;
        // width: 60%;
    }
}

@media screen and (max-width: 900px) {
    #about {
        
        .upper-title {
            font-size: 1rem;
        }

        .about-description {
            margin-top: 2rem;
            width: 100%;
            font-size: 1rem;
        }

        .bottom-title {
            font-size: 0.75rem;
        }

        .main-title {
            font-size: 3rem;
    
            $width: 3rem;
            &::before {
                width: $width;
                height: 0.25rem;
                right: calc(100% + 1rem);
            }
    
            &::after {
                width: $width;
                height: 0.25rem;
                left: calc(100% + 1rem);
            }
        }

    }
}

@media screen and (max-width: 700px) {
    #about {
        
        .upper-title {
            font-size: 1rem;
        }

        .about-description {
            margin-top: 2rem;
            width: 100%;
            font-size: 1rem;
        }

        .bottom-title {
            font-size: 0.75rem;
        }

        .main-title {
            font-size: 3rem;
    
            $width: 3rem;
            &::before {
                width: $width;
                height: 0.25rem;
                right: calc(100% + 1rem);
            }
    
            &::after {
                width: $width;
                height: 0.25rem;
                left: calc(100% + 1rem);
            }
        }

    }

    .cards-container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        // margin-top: auto;
        margin-bottom: 5rem;
    }
}

.accent {
    font-weight: 900;
    color: #fff;
    // color: #7e1e95;
}

.appear {
    opacity: 0;
    transition: opacity 500ms;
}

.scroll {
    position: absolute;
    bottom: 0;
    right: 2rem;

    display: flex;
    align-items: center;
    flex-flow: column;
    // height: 8rem;

    // background-color: chartreuse;

    p {
        color: #7e1e95;
        writing-mode: vertical-rl;
        margin-bottom: 0.5rem;
        font-weight: 900;
        // background-color: chocolate;
    }

    #scroll-line {
        height: 5rem;
        width: 2px;
        display: block;
        background-color: #7e1e95;
        animation: scroll 1.5s ease alternate infinite;
    }
}



@keyframes scroll {
    from {
        height: 5rem;
    }
    to {
        height: 4rem;
    }
}

main {
    background-color: #000;
}

.reverse-row {
    flex-flow: row-reverse;
}

.split-big-title {
    display: flex;
    align-items: center;
    padding: 12rem 0px;
    width: 75%;

    .big-title {
        // background-color: chartreuse;
        flex-grow: 1;
        flex-basis: 0;

        h1 {
            color: #fff;
            font-size: 10rem;
            line-height: 1;
            // background-color: chartreuse;
        }

        .desc-title {
            color: #7e1e95;
            font-size: 1.5rem;
            font-weight: 900;
        }
    }

    .description-container {
        flex-grow: 1;
        flex-basis: 0;
        // background-color: chocolate;

        p {
            color: #F2DBFF;
        }
    }

    .right {
        text-align: right;
        // margin-left: 4rem;

        // background-color: violet;
    }

    .left {
        text-align: left;
        // margin-right: 4rem;

        // background-color: chocolate;
    }
}

.years {
    background-color: #141414;
    width: 100%;
    padding: 3rem 0px;
    overflow: hidden;
    
    .tech-images {
        display: flex;
        flex-flow: row nowrap;

        img {
            width: 140px;
            margin-inline: 3rem;
        }
    }


    p {
        font-weight: 900;
        font-size: 5rem;
        color: #2d2d2d;
        white-space: nowrap;
    }
    .hobbies {
        display: flex;
        flex-flow: row nowrap;

        // background-color: chartreuse;
        // align-items: center;
        // justify-content: space-around;

        .hobbies-img {
            width: 140px;
            margin-inline: 5rem;
        }
    }
}

//title animations in about section
.letter {
    display: inline-block;
    opacity: 0;
}

@keyframes letterEntry {
    from {
        // transform: translateY(16px) rotate(15deg) scale(1.5);
        transform: translateY(30px);

        opacity: 0;
    }
    to {
        // transform: translateY(0px)  rotate(0deg) scale(1);
        transform: translateY(0px);
        
        opacity: 1;
    }
}