#about {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100vh;
    padding-top: calc(var(--navbar-size) + 2rem);

    .upper-title {
        font-size: 1.5rem;
        color: #7e1e95;
        font-weight: 900;
        line-height: 1;
    }

    .main-title {
        font-size: 5rem;
        color: #fff;
        font-weight: 900;
        line-height: 1;
        position: relative;

        $width: 5rem;
        &::before {
            content: "";
            position: absolute;
            width: $width;
            height: 0.5rem;
            background-color: #7e1e95;
            right: calc(100% + 2rem);
            top: 50%;
            border-radius: 1rem;
        }

        &::after {
            content: "";
            position: absolute;
            width: $width;
            height: 0.5rem;
            background-color: #7e1e95;
            left: calc(100% + 2rem);
            top: 50%;
            border-radius: 1rem;
        }
    }

    .bottom-title {
        font-size: 0.85rem;
        color: #fff;
        font-weight: 300;
        line-height: 1;
    }

    .about-description {
        color: #fff;
        margin-top: 3rem;
        width: 50%;
        font-size: 1rem;

        .accent {
            font-weight: 900;
        }
    }

    .cards-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: auto;
        margin-bottom: 5rem;
        // width: 60%;
    }
}

.appear {
    opacity: 0;
    transition: opacity 500ms;
}

.scroll {
    position: absolute;
    bottom: 0;
    right: 2rem;

    display: flex;
    align-items: center;
    flex-flow: column;
    // height: 8rem;

    // background-color: chartreuse;

    p {
        color: #7e1e95;
        writing-mode: vertical-rl;
        margin-bottom: 0.5rem;
        font-weight: 900;
        // background-color: chocolate;
    }

    #scroll-line {
        // position: absolute;
        // top: 3rem;
        // left: 50%;
        height: 5rem;
        // box-sizing: border-box;
        width: 2px;
        display: block;
        background-color: #7e1e95;
        animation: scroll 1.5s ease alternate infinite;
    }
}

@keyframes scroll {
    from {
        height: 5rem;
    }
    to {
        height: 4rem;
    }
}

main {
    background-color: #000;
}

.reverse-row {
    flex-flow: row-reverse;
}

.split-big-title {
    display: flex;
    padding: 10rem 0px;
    width: 70%;
    // background-color: chartreuse;

    .big-title {
        h1 {
            color: #fff;
            font-size: 10rem;
            line-height: 1;
            // background-color: chartreuse;
        }
    }

    .description-container {

        p {
            color: #fff;
        }

        .desc-title {
            color: #7e1e95;
            font-size: 1.5rem;
            font-weight: 900;
            margin-bottom: 2rem;
            // background-color: chocolate;
            // text-align: right;
        }
    }

    .right {
        text-align: right;
        margin-left: 4rem;

        // background-color: violet;
    }

    .left {
        text-align: left;
        margin-right: 4rem;


        // background-color: chocolate;
    }
}

.years {
    background-color: #141414;
    width: 100%;
    padding: 3rem 0px;
    overflow: hidden;

    p {
        font-weight: 900;
        font-size: 10rem;
        color: #2D2D2D;
        white-space: nowrap;
    }
}