#contact {
	display: flex;
	flex-flow: column;
	width: 70%;

	.top-container {
		width: 100%;
	}

	.page-main-title {
		color: #fff;
		font-size: clamp(1rem, 4vw, 4rem);
		text-transform: uppercase;
		width: 100%;
		text-align: center;
		font-weight: 900;
		-webkit-margin-after: 1rem;
		margin-block-end: 1rem;
	}

	p {
		font-size: 1rem;
		color: #f5c8ff;
		font-size: 0.85rem;
	}

	.contact-social-media {
		display: flex;
		flex-flow: row;
		margin-block: 1rem;
	}

	.phone-number {
		font-weight: 900;
		font-size: 1.5rem;
		color: #fff;
		margin-left: 1rem;
	}

	.modal {
		width: 100%;
		height: 100%;

		background-color: rgba($color: #000000, $alpha: 0.95);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;

		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;

		color: #fff;
	}
}

.phone-number-container {
	display: flex;
	flex-flow: column;
	align-items: flex-start;

	margin-block: 2rem;

	p {
		font-weight: 900;
		line-height: 1;
	}

	.tel-tag {
		font-size: 2rem;
		font-weight: 900;
		color: #fff;
		line-height: 1;
	}
}

form#contact-form {
	display: flex;
	flex-flow: column;
	margin-top: 2rem;

	background-color: rgba($color: #000000, $alpha: 0.6);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	padding: 1.5rem;
	border-radius: 0.5rem;

	.form-title {
		color: #fff;
		margin: 0 auto;
		font-size: 1rem;
		text-align: center;
	}

	button.send {
		background-color: #3e0b49;
		border: none;
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-weight: 900;
		padding: 0.5rem 1.25rem;
		margin-top: 1rem;
		border-radius: 0.5rem;
		font-size: 0.8rem;
		cursor: pointer;
		transition: background-color 300ms, box-shadow 300ms;
		box-shadow: 0px 0px 16px rgba($color: #5e0874, $alpha: 0);
		margin-left: auto;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;

		&:hover {
			background-color: #5e0874;
			box-shadow: 0px 0px 16px rgba($color: #5e0874, $alpha: 1);
		}

		img {
			$icon-size: 20px;
			width: $icon-size;
			height: $icon-size;
			margin-right: 0.35rem;
		}
	}
}

.input-container {
	position: relative;
	padding-top: 1.25rem;
	margin-top: 1rem;

	&:first-child {
		margin-top: 0;
	}

	$left-padding: 2.25rem;
	label {
		position: absolute;
		display: block;
		color: #f5c8ff;
		top: 1.75rem;
		left: $left-padding;
		font-size: 0.85rem;
		text-anchor: start;
		transform-origin: left;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		pointer-events: none;
		font-weight: 400;
		transition: top 200ms, left 200ms, transform 200ms;
	}

	.label-icon {
		width: 20px;
		height: 20px;
		display: inline-block;
		position: absolute;
		left: 0.5rem;
		top: 1.75rem;
	}

	.form-input {
		background-color: #3e0b49;
		outline: none;
		border: 0px transparent;
		padding: 0.5rem;
		padding-left: $left-padding;
		font-size: 0.85rem;
		color: #fff;
		width: 100%;
		border-radius: 0.5rem;

		&::-webkit-input-placeholder {
			color: transparent;
		}

		&::-moz-placeholder {
			color: transparent;
		}

		&:-ms-input-placeholder {
			color: transparent;
		}

		&::-ms-input-placeholder {
			color: transparent;
		}

		&::placeholder {
			color: transparent;
		}

		&:focus,
		&:valid,
		&:not(:placeholder-shown) {
			& + label {
				top: 0rem;
				left: 0rem;
				transform: scale(0.75);
			}
		}

		&:invalid:not(:placeholder-shown) + label::after {
			content: ' - verifica tu información. Ejemplo: correo@ejemplo.com';
			color: rgb(218, 82, 82);
		}
	}

	textarea {
		resize: none;
	}
}

.split-container {
	display: flex;
	flex-flow: row;

	.split {
		flex-basis: 0;
		flex-grow: 1;
	}
}

.contact-text {
	width: 85%;
}

@import './page_transition';

.sk-cube-grid {
	width: 100px;
	height: 100px;
	margin: 2rem auto;
}

.sk-cube-grid .sk-cube {
	width: 33.33%;
	height: 33.33%;
	background-color: #540F64;
	float: left;
	-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
	animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
	0%,
	70%,
	100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}
	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}

@keyframes sk-cubeGridScaleDelay {
	0%,
	70%,
	100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}
	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}
