#contact {
	display: flex;
	flex-flow: column;
	width: 70%;

	.top-container {
		width: 100%;
	}

	.page-main-title {
		color: #fff;
		font-size: clamp(1rem, 4vw, 4rem);
		text-transform: uppercase;
		width: 100%;
		text-align: center;
		font-weight: 900;
		margin-block-end: 1rem;
	}

	p {
		font-size: 1rem;
		color: #f5c8ff;
		font-size: 0.85rem;
	}

	.contact-social-media {
		display: flex;
		flex-flow: row;
		margin-block: 1rem;
	}

	.phone-number {
		font-weight: 900;
		font-size: 1.5rem;
		color: #fff;
		margin-left: 1rem;
	}
}

.phone-number-container {
	display: flex;
	flex-flow: column;
	align-items: flex-start;

	margin-block: 2rem;

	p {
		font-weight: 900;
		line-height: 1;
	}

	.tel-tag {
		font-size: 2rem;
		font-weight: 900;
		color: #fff;
		line-height: 1;
	}
}

form#contact-form {
	display: flex;
	flex-flow: column;
	margin-top: 2rem;
}

.input-container {
	position: relative;
	padding-top: 1.25rem;
	margin-top: 1rem;

	&:first-child {
		margin-top: 0;
	}

	$left-padding: 2.25rem;
	label {
		position: absolute;
		display: block;
		color: #f5c8ff;
		top: 1.75rem;
		left: $left-padding;
		font-size: 0.85rem;
		text-anchor: start;
		transform-origin: left;
		user-select: none;
		pointer-events: none;
		font-weight: 400;
		transition: top 200ms, left 200ms, transform 200ms;
	}

	.label-icon {
		width: 20px;
		height: 20px;
		display: inline-block;
		position: absolute;
		left: 0.5rem;
		top: 1.75rem;
	}

	.form-input {
		background-color: #3e0b49;
		outline: none;
		border: 0px transparent;
		padding: 0.5rem;
		padding-left: $left-padding;
		font-size: 0.85rem;
		color: #fff;
		width: 100%;
		border-radius: 0.5rem;

		&::placeholder {
			color: #f5c8ff;
			color: transparent;
		}

		&:focus,
		&:valid {
			& + label {
				top: 0rem;
				left: 0rem;
				transform: scale(0.75);
			}
		}
	}

	textarea {
		resize: none;
	}
}

.split-container {
	display: flex;
	flex-flow: row;

	.split {
		flex-basis: 0;
		flex-grow: 1;
	}
}

.contact-text {
	width: 85%;
}

@import './page_transition';
