@use "@styles/utilities/mixins";
@use "@styles/base/color";

$item-separation: 1.5rem;

.container {
	max-width: 80%;
	height: fit-content;

	display: flex;
	align-items: center;
	gap: $item-separation;
	background-color: var(--purple-600);
	padding: $item-separation;
	border-radius: var(--global-border-radius);

	@include mixins.shadow(rgba($color: color.$purple-300, $alpha: 0.75));
}

.message {
	font-weight: 900;
	font-size: 0.75rem !important;
}

.loader {
	flex-shrink: 0;
}

@media screen and (max-width: 500px) {
	.container {
		padding: 1.25rem;
	}
}
