$harbest-blue: #1a4d8a;
$campofuerte-brown: #7a5125;
$campofuerte-green: #90b527;
$intelligentia-red: #db0000;
$guillermo-red: #a03535;

.harbest-blue {
	color: $harbest-blue;
}

.intelligentia-red {
	color: $intelligentia-red;
}

.campofuerte-brown {
	color: $campofuerte-brown;
}

.campofuerte-green {
	color: $campofuerte-green;
}

.guillermo-red {
	color: $guillermo-red;
}

#projects {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.page-title {
	font-size: clamp(1.5rem, 12.25vw, 7rem); //perfect size!!!
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.page-description {
	font-size: 0.85rem;
	font-weight: 400;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	color: #fff;
}

.works {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	margin: 4rem 0;

	.project-logo {
		$logo-size: 90px;
		width: $logo-size;
		height: $logo-size;
		margin-inline: 3rem;
		opacity: 0;
		transition: 1500ms opacity;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.projects-container {
	background-color: #000;
	padding-top: 20rem;
	padding-bottom: 5rem;
}

.project-box {
	margin-bottom: 10rem;

	&:last-child {
		margin-bottom: unset;
	}
}

.project-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	.project-collage-main {
		position: relative;
		flex-grow: 1;
		flex-basis: 0;
	}

	.project-collage-img-container {
		height: 100%;
		max-width: 1100px;
		position: relative;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: flex-end;

		.img-loader {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
		}

		$unblur-time-transition: 800ms;
		@mixin screen-properties {
			position: absolute;
			-webkit-backdrop-filter: blur(16px);
			backdrop-filter: blur(16px);
			background-color: rgba($color: #43074b, $alpha: 0.5);
			transition: opacity $unblur-time-transition;
		}

		.screen-blur {
			@include screen-properties;

			opacity: 1;
		}

		.screen-noblur {
			@include screen-properties;

			opacity: 0;
		}

		.no-loaded {
			opacity: 0;
			transform: translateY(30px);
		}

		.loaded {
			opacity: 1;
			transform: translateY(0px);
		}

		.loader-text {
			color: #fff;
			font-weight: 900;
			font-size: 0.5rem;
			padding: 0.5rem;
			border-radius: 0.25rem;
			margin-top: 0.5rem;
			background-color: #2f0838;
			line-height: 1;
		}

		.project-collage {
			width: 90%;
			aspect-ratio: 1.2;
			$transition-time: 1s;
			transition: opacity $transition-time, transform $transition-time;
			transition-delay: 400ms;
		}
	}
}

.project-info {
	min-width: min(400px, 100%);
}

.project-container .project-collage-img-container {
	margin-left: auto;
}

//this part must control the alternate behavior desired in the projects page
.project-box {
	&:nth-child(2n) > .project-container {
		flex-flow: row-reverse wrap;
		text-align: right;

		.project-info {
			align-items: flex-end;

			.project-header {
				flex-flow: row-reverse nowrap;
			}

			.project-animation {
				margin-right: 1rem;
				margin-left: 0rem;
			}

			.project-tech-icons-container {
				flex-flow: row-reverse wrap;
			}

			.project-tech-icon {
				&:first-child {
					margin-right: 0rem;
				}
			}

			.project-buttons-container {
				flex-flow: row-reverse nowrap;
			}
		}

		.project-collage-img-container {
			align-items: flex-start;
			margin-left: unset;
		}
	}
}

////////////////////////
$transition-time: 300ms;
.loader-enter {
	opacity: 0;
}
.loader-enter-active {
	opacity: 1;
	transition: opacity $transition-time;
}
.loader-exit {
	opacity: 1;
}
.loader-exit-active {
	opacity: 0;
	transition: opacity $transition-time;
}

@import "./mediaqueries";
