.about-card {
    background-color: rgba($color: #290432, $alpha: 0.5);
    backdrop-filter: blur(3px);
    border-radius: 1rem;
    padding-top: 2rem;
    padding-inline: 1rem;
    padding-bottom: 1rem;
    min-width: 200px;
    margin-inline: 2rem;
    box-shadow: 0px 0px 32px rgba($color: #000, $alpha: 0.8);

    p {
        color: #fff;
    }

    .main {
        font-size: 4rem;
        font-weight: 900;
        // background-color: chartreuse;
        line-height: 1;
    }

    .middle, .bottom {
        line-height: 1;
        color: #BC6BE9;
    }

    .middle {
        font-size: 0.85rem;
    }

    .bottom {
        font-weight: 900;
        font-size: 1.25rem;
    }

    button {
        margin-top: 2rem;
        width: 100%;
        border-radius: 0.75rem;
        padding: 0.5rem;
        border: none;
        outline: none;
        background-color: #360541;
        font-weight: 900;
        color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .lottie-eye-container {
            // background-color: #fff;
            // height: 100%;
            height: 2rem;
            aspect-ratio: 1;
            overflow: hidden;
            margin-right: 1rem;

            .eye {
                // max-height: 100%;
                // max-width: 2rem;
                width: 100%;
                height: 100%;
                transform: scale(3);
                user-select: none;
                pointer-events: none;
                // background-color: chartreuse;
            }
        }
    }
}