.about-card {
	background-color: rgba($color: #290432, $alpha: 0.25);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	border-radius: 1rem;
	box-shadow: 5px 3px 16px rgba($color: #000, $alpha: 0.5);
	transition: background-color 200ms;
	position: relative;
	overflow: hidden;

	min-width: 180px;
	margin-inline: 2rem;

	padding: 1rem;

	p {
		color: #fff;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		text-align: right;
	}

	.main {
		font-size: 3rem;
		font-weight: 900;
		line-height: 1;
		transform-origin: right;

		transition: transform 200ms;
	}

	.middle,
	.bottom {
		line-height: 1;
		color: #bc6be9;
	}

	.middle {
		font-size: 0.85rem;
	}

	.bottom {
		font-weight: 900;
		font-size: 1rem;
		// margin-bottom: 0.5rem;
	}

	.bottom-line {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 8px;
		transition: height 200ms;
		background-color: #b174bf;
		transition-timing-function: ease-out;
		z-index: -1;
	}

	&:hover {
		background-color: rgba($color: #6d1384, $alpha: 0.25);
	}

	&:hover > .main {
		transform: scale(1.1);
	}

	&:hover > .bottom-line {
		height: 0px;
	}
}

@media screen and (max-width: 900px) {
	.about-card {
		min-width: 150px;
		margin-inline: 1.25rem;
		border-radius: 0.75rem;
		margin-bottom: 2rem;

		.main {
			font-size: 2.5rem;
			font-weight: 900;
			line-height: 1;
		}

		.middle,
		.bottom {
			line-height: 1;
			color: #bc6be9;
		}

		.middle {
			font-size: 0.75rem;
		}

		.bottom {
			font-weight: 900;
			font-size: 0.9rem;
		}
	}
}

@media screen and (max-width: 500px) {
	.about-card {
		margin-inline: 0;
		width: min(100%, 200px);

		p {
			text-align: center;
		}
	}
}
