main {
	width: 100vw;
}

section {
	width: 75%;
	margin: 0px auto;
	position: relative;
}

header {
	width: 75%;
	margin: 0px auto;

	// in order to avoid the superposition with the navbar,
	// this margin is necessary for all the header elements
	margin-top: calc(var(--navbar-height));
}

//classes for page transition animations
$page-anim-time: 500ms;
.page-anim-enter {
	opacity: 0;
}

.page-anim-enter-active {
	opacity: 1;

	transition: opacity $page-anim-time;
}

.page-anim-exit {
	opacity: 1;
}

.page-anim-exit-active {
	opacity: 0;

	transition: opacity $page-anim-time;
}
