main {
    width: 100vw;
}

section {
    width: 85%;
    margin: 0px auto;
    position: relative;
}

header {
    width: 85%;
    margin: 0px auto;
    // position: relative;

    padding-top: 80px;
}
