.project-collage-main {
	position: relative;
	flex-grow: 1;
	flex-basis: 0;
	// overflow: auto;

	// padding-left: 3rem;
	// background-color: violet;
}

.project-collage-img-container {
	padding-left: 0rem;
	height: 100%;
	position: relative;
	
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-end;
	


	// background-color: chartreuse;

	.project-collage {
		// max-width: 100%;
		// max-height: 700px;
		// min-height: 100%;
		width: 80%;
		aspect-ratio: 1169/963;
		// right: -12.50vw;
		// border-radius: 16px;
		// background-color: crimson;
		// position: absolute;
	}
}
