.project-images {
	padding-left: 3rem;
	color: #fff;
	font-weight: 900;
	
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-end;
	flex-grow: 1;
	flex-basis: 0;
	// background-color: crimson;
	position: relative;

	.project-image {
		max-width: 100%;
		max-height: 600px;

		// background-color: crimson;
	}
}
