.social-media-container {

    .social-media-anchor-tag {
        text-decoration: none;
        display: inline-block;
    }

    $icon-size: 45px;
    .social-media-icon {
        height: $icon-size;
        width: $icon-size;
        padding-inline: 0.5rem;
        transition: 300ms transform;
        transform-origin: center center;
        display: inline-block;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.container-enter, .container-exit-done {
    opacity: 0;
    transform: translateY(50px);
}

.container-enter-active {
    opacity: 1;
    transform: translateY(0px);

    transition: transform 500ms;
}

.container-exit, .container-enter-done {
    opacity: 1;
    transform: translateY(0px);
}

.container-exit-active {
    opacity: 0;
    transform: translateY(50px);

    transition: transform 500ms;
}

@media screen and (max-width: 500px) {
    .social-media-container {
        
        $icon-size: 40px;
        .social-media-icon {
            height: $icon-size;
            width: $icon-size;
            padding-inline: 0.4rem;
        }
    }
}