.page-container {
	margin-inline: auto;
}

@media screen and (min-width: 1200px) {
	.page-container {
		width: 80%;
	}
}

@media screen and (max-width: 1200px) {
	.page-container {
		width: 90%;
	}
}

@media screen and (max-width: 700px) {
	.page-container {
		width: calc(100% - 2rem);
	}
}

.navbar-margin-top {
	margin-top: var(--navbar-height);
}

.fill-vertical-viewport {
	min-height: 100vh;

	&[add-navbar-margin-top] {
		min-height: calc(100vh - var(--navbar-height));
	}
}
