.bg-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	z-index: -1;
	display: flex;

	.shape {
		fill: #7e1e95;
		opacity: 0;

		position: absolute;
		transition: transform 1500ms, opacity 1500ms;
		// transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
		transition-timing-function: ease;
	}

	#triangle {
		width: 23vmax;
	}

	#square {
		width: 16vmax;
	}

	#pentagon {
		width: 16vmax;
	}

	#hexagon {
		width: 27vmax;
	}

	#circle {
		width: 30vmax;
	}

	//triangle
	.position-01 {
		transform: translate(-5vmax, -4vmin) rotate(-35deg) scale(1.5);
	}

	//square
	.position-02 {
		transform: translate(55vmax, -8vmin) rotate(48deg) scale(0.6);
	}

	//pentagon
	.position-03 {
		transform: translate(85vmax, 65vmin) rotate(30deg) scale(1.3);
	}

	//hexagon
	.position-04 {
		transform: translate(60vmax, 38vmin) rotate(-84deg) scale(0.8);
	}

	//circle
	.position-05 {
		transform: translate(10vmax, 65vmin) rotate(104deg) scale(1.75);
	}
}
