.bg-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	z-index: -1;
	display: flex;

	#triangle {
		width: 23vmax;
		fill: #400c4d;
		fill: #7e1e95;
		opacity: 0;

		position: absolute;
		transition: transform 1500ms, opacity 1500ms;
		transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	#square {
		width: 16vmax;
		fill: #21040e;
		fill: #7e1e95;
		opacity: 0;

		position: absolute;
		transition: transform 1500ms, opacity 1500ms;
		transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	#pentagon {
		width: 16vmax;
		fill: #211f05;
		fill: #7e1e95;
		opacity: 0;

		position: absolute;
		transition: transform 1500ms, opacity 1500ms;
		transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	#hexagon {
		width: 17vmax;
		fill: #052107;
		fill: #7e1e95;
		opacity: 0;

		position: absolute;
		transition: transform 1500ms, opacity 1500ms;
		transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	#circle {
		width: 18vmax;
		fill: #090021;
		fill: #7e1e95;
		opacity: 0;

		position: absolute;
		transition: transform 1500ms, opacity 1500ms;
		transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	//every piece of background is gonna be centered
	//and the change to the initial route a seconds later
	// .bg-piece-pos-initial {
	// 	transform: translate(10px);
	// }

	// .triangle-pos-01 {
	// 	transform: translate(5vmax, 3vmin) rotate(0deg);
	// }

	// .triangle-pos-02 {
	// 	transform: translate(200%, 100%) rotate(40deg);
	// }

	// .triangle-pos-03 {
	// 	transform: translate(300%, 100%) rotate(70deg);
	// }

	// .triangle-pos-04 {
	// 	transform: translate(0%, 180%) rotate(120deg);
	// }

	.position-01 {
		transform: translate(-5vmax, -4vmin) rotate(-35deg);
	}

	.position-02 {
		transform: translate(calc(75vmax - 50%), -8vmin) rotate(48deg);
	}

	.position-03 {
		transform: translate(calc(95vmax - 50%), 65vmin) rotate(30deg);
	}

	.position-04 {
		transform: translate(10vmax, calc(78vmin - 100%)) rotate(-84deg);
	}

	.position-05 {
		transform: translate(40vmax, 65vmin) rotate(104deg);
	}
}
