@media screen and (min-width: 3000px) {
	html {
		font-size: 32px;
	}
}

@media screen and (max-width: 1200px) {
	.split-big-title {
		width: 80%;

		.big-title {
			.desc-title {
				font-size: 1rem;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.split-big-title {
		width: 90%;
	}

	.years {
		.tech-images {
			img {
				width: 80px;
				margin: 1.5rem;
			}
		}

		p {
			font-size: 3rem;
		}

		.hobbies {
			.hobbies-img {
				width: 80px;
				margin: 1.5rem;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	#about {
		.upper-title {
			font-size: 1rem;
		}

		.about-description {
			margin-top: 2rem;
			width: 100%;
			font-size: 1rem;
			text-align: justify;
		}

		.bottom-title {
			font-size: 0.75rem;
		}
	}
}

@media screen and (max-width: 800px) {
	.split-big-title {
		flex-flow: column;
		padding: 4rem 0px;

		.big-title {
			flex-grow: unset;
			flex-basis: unset;

			.titles {
				margin: 0 auto;
			}

			.desc-title {
				text-align: center;
				margin-bottom: 2rem;
			}
		}

		.description-container {
			flex-grow: unset;
			flex-basis: unset;

			p {
				text-align: justify;
			}

			.right {
				margin-left: 0;
			}

			.left {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	#about {
		.upper-title {
			font-size: 1rem;
		}

		.about-description {
			margin-top: 2rem;
			width: 100%;
			font-size: 1rem;
		}

		.bottom-title {
			font-size: 0.75rem;
		}
	}
}

@media screen and (max-width: 530px) {
	#about {
		.cards-container {
			display: flex;
			flex-flow: column;

			align-items: center;
			justify-content: flex-start;

			margin-top: 2rem;
		}
	}
}

@media screen and (max-width: 400px) {
	.years {
		p {
			font-size: 1.5rem;
		}
	}
}

@media screen and (max-width: 350px) {
	.split-big-title {
		.big-title {
			.titles {
				font-size: clamp(3.5rem, 12vw, 10rem);
			}
		}
	}

	.years {
		.tech-images {
			img {
				width: 60px;
				margin: 1rem;
			}
		}

		.hobbies {
			.hobbies-img {
				width: 60px;
				margin: 1rem;
			}
		}
	}
}
