.hero-container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	padding-bottom: 2rem;

	.main-title {
		font-size: clamp(1.25rem, 10vw, 7.5rem);
		text-transform: uppercase;
		color: #fff;
		font-weight: 900;
		line-height: 0.85;
		line-height: 1;
		position: relative;
	}

	.bottom-title {
		color: #7e1e95;
		font-weight: 900;
		line-height: 1;
		margin-top: 0.5rem;
		z-index: 10;
	}

	.about-description {
		color: #fff;
		margin-top: 3rem;
		width: 50%;
		font-size: 1rem;
		font-size: 0.85rem;
	}

	.cards-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 3rem;
		gap: 1rem;
		width: min(100%, 700px);
	}
}

.accent {
	font-weight: 900;
	color: #fff;
}

main#about-main {
	background-color: #000;
}

.reverse-row {
	flex-flow: row-reverse;
}

.split-big-title {
	display: flex;
	align-items: center;
	padding-block: 10rem;

	.big-title {
		flex-grow: 1;
		flex-basis: 0;

		.titles {
			color: #fff;
			font-size: clamp(5rem, 12vw, 7rem);

			line-height: 0.85;
		}

		.desc-title {
			color: #7e1e95;
			font-size: 1rem;
			font-weight: 900;
		}
	}

	.description-container {
		flex-grow: 1;
		flex-basis: 0;

		p {
			font-size: 0.85rem;
			color: #f2dbff;
		}
	}

	.right {
		text-align: right;
		margin-left: 2rem;
	}

	.left {
		text-align: left;
		margin-right: 2rem;
	}
}

.row-container {
	background-color: #141414;
	width: 100%;
	padding: 1rem 0px;

	.tech-images {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;

		img {
			width: 60px;
			margin: 1.5rem;
		}
	}

	p {
		font-weight: 900;
		font-size: 2rem;
		text-align: center;
		color: #2d2d2d;
		box-sizing: border-box;
	}

	.hobbies {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;

		.hobbies-img {
			width: 130px;
			margin: 2rem;
		}
	}
}

@import "./mediaqueries";
