@use "@styles/utilities/mixins";
@use "@styles/base/color";

.modal-container {
	width: min(320px, 100%);
	display: flex;
	flex-flow: column nowrap;

	background-color: var(--purple-500);
	border-radius: var(--global-border-radius);
	@include mixins.shadow(rgba($color: color.$purple-400, $alpha: 0.5));
}

.animation-container {
	width: 100%;
	height: 280px;
	background-color: var(--purple-600);
	border-radius: var(--global-border-radius) var(--global-border-radius) 0 0;
}

.description-container {
	padding: 1.25rem;
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;

	p {
		width: 100%;
		font-size: 0.7rem !important;
		margin-block: 1rem;
		text-align: center;
	}
}
