@use "@styles/layout/z-index" as Z;
@use "@styles/utilities/mixins";

.veil {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;

	background-color: rgba($color: #000000, $alpha: 0.9);

	// es probable que el problema en los zindex
	// se deba a la creaci{on de un nuevo stacking context
	// en cada una de las animaciones realizadas

	// github issue ->
	// https://github.com/framer/motion/issues/1837

	z-index: Z.$veil;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.modal-container {
	width: min(320px, 100%);
	display: flex;
	flex-flow: column nowrap;

	background-color: var(--purple-500);
	border-radius: var(--global-border-radius);
	@include mixins.shadow(rgba($color: #e8bef2, $alpha: 0.25));
}

.animation-container {
	width: 100%;
	height: 280px;
	background-color: var(--purple-600);
	border-radius: var(--global-border-radius) var(--global-border-radius) 0 0;
}

.description-container {
	padding: 1.25rem;
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;

	p {
		width: 100%;
		font-size: 0.7rem !important;
		margin-block: 1rem;
		text-align: center;
	}
}
