#no-match {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	// min-height: calc(90vh - var(--navbar-height));

	.error-text {
		font-weight: 900;
		font-size: 5rem;
		font-size: clamp(1.5rem, 10vw, 7rem);
		color: #fff;
		line-height: 1;
		text-align: center;
		// margin-top: 3rem;
	}

	p {
		font-size: 1rem;
		font-size: clamp(0.85rem, 1vw, 1rem);
		color: #fff;
		text-align: center;
	}
}

#monster-animation {
	width: min(100%, 400px);
}

@media screen and (max-width: 900px) {
	#no-match {
		p {
			max-width: 70%;
			margin-inline: auto;
		}
	}
}

$transition-time: 1000ms;
.serial-enter {
	opacity: 0;
	transform: translateY(50%);
}

.serial-enter-active {
	opacity: 1;
	transform: translateY(0px);

	transition: opacity $transition-time, transform $transition-time;
	transition-timing-function: ease;
}

.serial-exit {
	opacity: 1;
	transform: translateY(0px);
}

.serial-exit-active {
	opacity: 0;
	transform: translateY(50%);

	transition: opacity $transition-time, transform $transition-time;
	transition-timing-function: ease;
}
