#no-match {
	// background-color: chocolate;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: center;
	// min-height: calc(100vh - var(--navbar-size));

	p {
		font-size: 1rem;
		font-size: clamp(0.7rem, 1vw, 1rem);
		color: #fff;
		text-align: left;
	}
}
.error-text {
	font-weight: 900;
	font-size: 5rem;
	font-size: clamp(1rem, 10vw, 10rem);
	color: #fff;
	line-height: 1;

	// background-color: aquamarine;
}

#monster-animation {
	position: fixed;
	bottom: -50px;
	right: 0px;
	width: 200px;
	height: 200px;
}

$transition-time: 1000ms;
.serial-enter {
	opacity: 0;
	transform: translateY(-20px);
}

.serial-enter-active {
	opacity: 1;
	transform: translateY(0px);

	transition: opacity $transition-time, transform $transition-time;
	transition-timing-function: ease;
}

.serial-exit {
	opacity: 1;
	transform: translateY(0px);
}

.serial-exit-active {
	opacity: 0;
	transform: translateY(20px);

	transition: opacity $transition-time, transform $transition-time;
	transition-timing-function: ease;
}
