#no-match {
	// background-color: chocolate;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - var(--navbar-size));

	p {
		font-size: 1rem;
		font-size: clamp(0.7rem, 1vw, 1rem);
		color: #fff;
		text-transform: uppercase;
		text-align: center;
	}
}
.error-text {
	font-weight: 900;
	font-size: 5rem;
	font-size: clamp(1rem, 10vw, 7rem);
	color: #fff;
}

#monster-animation {
	position: fixed;
	bottom: -50px;
	right: 0px;
	width: 200px;
	height: 200px;
}
