#lottie-animation {
	/* display: block; */
	width: 70%;
	aspect-ratio: 4.85;
	/* background-color: #000; */
}

p {
	font-weight: 900;
	font-size: 2rem;
	line-height: 1;
	margin: 0;
	margin-left: 3rem;
}

.App-header {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-flow: column;

	color: #222;

	min-height: 100vh;
	width: 75%;
	margin: 0 auto;
}

@media screen and (max-width: 500px) {
	p {
		font-weight: 900;
		font-size: 0.9rem;
		line-height: 1;
		margin: 0;
		margin-left: 1rem;
	}
}
