#home-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-flow: column;
	min-height: 100vh;
	position: static;
}

$logo-width: 50%;
#lottie-animation {
	/* display: block; */
	width: $logo-width;
	aspect-ratio: 4.85;
	/* background-color: #000; */
}

p {
	font-weight: 200;
	font-size: 1.1rem;
	line-height: 1;
	margin: 0;
	color: #fff;
	max-width: $logo-width;
	max-width: 45%;
	line-height: 1.5;
	padding-top: 1rem;

	position: relative;
	z-index: 1;
}

h1 {
	color: #fff;
}

.big-text {
	font-size: 2rem;
	font-weight: 900;
	line-height: 1;
}

#home-shape {
	position: absolute;
	top: 0px;
	left: -100%;
	z-index: -1;

	max-width: unset;
	width: 70%;
	height: 100%;

	transition: filter 500ms;
	// filter: drop-shadow(30px 0px 20px #000);
}

.shape-shadow {
	filter: drop-shadow(10px 0px 30px #000);
}

@keyframes home-shape-in {
	from {
		// opacity: 0;
		left: -100%;
	}
	to {
		// opacity: 1;
		left: 0px;
	}
}

@media screen and (max-width: 500px) {
	p {
		font-size: 0.9rem;
	}
}

.full-container {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100vw;
	height: 100vh;
	background-color: #31053b;
	z-index: -2;
	overflow: hidden;
	filter: blur(3px);

	video {
		position: absolute;
		height: 100vh;
		left: 38%;
		opacity: 0;
		transform: scale(1.03);

		transition: 1s opacity, 1s transform;
	}
}

.home-appear {
	opacity: 0;
	transition: opacity 1s;
}