#home-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-flow: column;
	min-height: 100vh;
	position: static;
}

$logo-width: 40%;

#lottie-animation {
	/* display: block; */
	width: $logo-width;
	aspect-ratio: 4.85;
	/* background-color: #000; */
}

p {
	font-weight: 200;
	font-size: 1rem;
	line-height: 1;
	margin: 0;
	color: #fff;
	max-width: $logo-width;
	max-width: 45%;
	line-height: 1.5;
	padding-top: 1rem;
}

h1 {
	color: #fff;
}

.big-text {
	font-size: 2rem;
	font-weight: 900;
	line-height: 1;
}

button {
	position: relative;
	margin-top: 2rem;
	background-color: transparent;
	color: #fff;
	padding: 0.25rem 2.5rem;
	border-radius: 6px;
	border: 1px solid #fff;
	cursor: pointer;
	transition: all 300ms;
	z-index: 1;

	&:hover {
		background-color: #460056;
		border: 1px solid transparent;
		color: #eac2f4;
	}
}

#home-shape {
	position: absolute;
	top: 0px;
	left: -100%;
	z-index: -1;

	max-width: unset;
	width: 60%;
	height: 100%;

	filter: drop-shadow(100px 0px 200px #000);
}

@keyframes home-shape-in {
	from {
		// opacity: 0;
		left: -100%;
	}
	to {
		// opacity: 1;
		left: 0px;
	}
}

@media screen and (max-width: 500px) {
	p {
		font-size: 0.9rem;
	}
}

.full-container {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100vw;
	height: 100vh;
	background-color: #31053b;
	z-index: -2;
	overflow: hidden;

	video {
		position: absolute;
		height: 100vh;
		left: 38%;
		opacity: 0;
		transition: 1s opacity;
	}
}

.home-appear {
	opacity: 0;

	transition: opacity 1s;
}