#home-container {
	display: flex;
	align-items: flex-start;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	height: 90vh;

	// background-color: chocolate;
}

$logo-width: 80%;
#lottie-animation {
	width: $logo-width;
	aspect-ratio: 4.85;
	transition: 400ms opacity;
}

p {
	font-weight: 200;
	font-size: 1rem;
	line-height: 1;
	margin: 0;
	color: #fff;
	max-width: $logo-width;
	max-width: 45%;
	line-height: 1.5;
	padding-top: 1rem;

	position: relative;
	z-index: 1;

	text-align: center;
}

h1 {
	color: #fff;
}

.big-text {
	font-size: 2rem;
	font-weight: 900;
	line-height: 1;
}

.home-shape {
	position: absolute;
	top: 0px;
	z-index: -1;
	max-width: unset;
	width: 70%;
	height: 100%;
}

@keyframes home-shape-in {
	from {
		left: -100%;
	}
	to {
		left: 0px;
	}
}

@media screen and (max-width: 500px) {
	p {
		font-size: 0.9rem;
	}
}
.home-button {
	margin-top: 2rem;
}

.full-container {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100vw;
	height: 100vh;
	// background-color: #31053b;
	background-color: #1b0221;
	z-index: -2;
	overflow: hidden;
	filter: blur(2px);
	transition: background-color 500ms;

	video {
		position: absolute;
		height: 100vh;
		left: 38%;
		z-index: -10;

		// opacity: 0;
		// transform: scale(1.03);
		// transition: 1s opacity, 1s transform;
	}
}

.home-appear {
	opacity: 0;
	transition: opacity 1s;
}

//=============================================//
//		react transition group classes		   //
//=============================================//
.home-shape-anim-enter {
	left: -100%;
	filter: drop-shadow(10px 0px 30px transparent);
}

.home-shape-anim-enter-active {
	left: 0px;
	filter: drop-shadow(10px 0px 30px #000);
	transition-timing-function: ease;

	transition: left 1s, filter 1s;
}

.home-shape-anim-enter-done {
	left: 0px;
	filter: drop-shadow(10px 0px 30px #000);
}

.home-shape-anim-exit {
	left: 0px;
	filter: drop-shadow(10px 0px 30px #000);
}

.home-shape-anim-exit-active {
	left: -100%;
	filter: drop-shadow(10px 0px 30px transparent);
	transition-timing-function: ease;

	transition: left 500ms;
}

.home-shape-anim-exit-done {
	left: -100%;
	filter: drop-shadow(10px 0px 30px transparent);
}

.video-anim-enter,
.video-anim-exit-done {
	opacity: 0;
	transform: scale(1.05);
}

.video-anim-enter-active {
	opacity: 0.35;
	transform: scale(1);

	transition: opacity 1s, transform 1s;
}

.video-anim-enter-done,
.video-anim-exit {
	opacity: 0.35;
	transform: scale(1);
}

.video-anim-exit-active {
	opacity: 0;
	transform: scale(1.05);

	transition: opacity 400ms, transform 400ms;
}

@media screen and (max-width: 800px) {
	$logo-width: 70%;
	#lottie-animation {
		width: $logo-width;
	}

	p {
		font-size: 1rem;
		max-width: $logo-width;
		line-height: 1.5;
		padding-top: 1rem;
	}
}

@media screen and (max-width: 500px) {
	$logo-width: 100%;
	#lottie-animation {
		width: $logo-width;
	}

	.big-text {
		font-size: 1.5rem;
		margin: 0 auto;
		text-align: center;
	}

	p {
		font-size: 1rem;
		margin: 0;
		max-width: unset;
		width: 100%;
		text-align: center;
	}

	.button-container {
		width: 100%;
		.Button {
			width: 100%;
		}
	}

	.full-container {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 100vw;
		height: 100%;
		background-color: #1b0221;
		z-index: -2;
		overflow: hidden;
		filter: blur(2px);
		transition: background-color 500ms;

		video {
			position: absolute;
			height: 100%;
			left: 38%;
			z-index: -10;
		}
	}

	.home-shape {
		position: absolute;
		top: 0px;
		z-index: -1;
		max-width: unset;
		width: 60%;
		height: 100%;
	}
	
}
