@import "./base/reset.scss";
@import "./layout/page.scss";
@import "./base/scrollbar.scss";

body {
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;
	width: 100vw;
	height: 100%;
	background-color: #1b0221;
}

:root {
	--navbar-size: 80px;
}

@media screen and (max-width: 500px){
	:root {
		--navbar-size: 60px;
	}
}