.project-info {
	padding-block: 5rem;
	width: fit-content;

	display: flex;
	flex-flow: column;
	justify-content: center;

	// background-color: chartreuse;

	.project-number {
		font-size: 1rem;
		color: #7e1e95;
		font-weight: 900;
		// text-transform: uppercase;
	}

	.project-name {
		font-size: 3rem;
		color: #fff;
	}

	.project-description {
		font-size: 0.85rem;
		color: #f2dbff;
		width: 450px;
		line-height: 1.6;
	}

	.project-techs {
		font-size: 1rem;
		color: #7e1e95;
		font-weight: 900;
		// text-transform: uppercase;
		margin-top: 3rem;
	}

	.project-tech-icon {
		width: 40px;
		height: 40px;
		margin-inline: 1rem;

		&:first-child {
			margin-left: 0rem;
		}
	}

	.project-tech-icons-container {
		display: flex;
		flex-flow: row wrap;
		margin-top: 1rem;

		// background-color: crimson;
		width: fit-content;
	}

	.project-buttons-container {
		margin-top: 2rem;
		display: flex;
		flex-flow: row wrap;
		width: fit-content;

		// background-color: blueviolet;

		button:first-child {
			margin-right: 1rem;
		}
	}
}
