.project-info {
	padding-block: 5rem;
	width: fit-content;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	flex-basis: 0;
	align-items: flex-start;

	.project-number {
		font-size: 1rem;
		color: #7e1e95;
		font-weight: 900;
		line-height: 1;
	}

	.project-name {
		font-size: 3rem;
		color: #fff;
		line-height: 1;
		margin-bottom: 1rem;
	}

	.project-description {
		font-size: 0.85rem;
		color: #f2dbff;
		width: min(450px, 100%);
		line-height: 1.6;
		margin-bottom: 1rem;
	}

	.project-techs {
		font-size: 1rem;
		color: #7e1e95;
		font-weight: 900;
	}

	.project-tech-icon {
		width: 40px;
		height: 40px;
	}

	.project-tech-icons-container {
		display: flex;
		flex-flow: row nowrap;
		margin-top: 0.5rem;
		gap: 1rem;
	}

	.project-buttons-container {
		margin-top: 1.5rem;
		display: flex;
		flex-flow: row nowrap;
		width: fit-content;
		gap: 1rem;
	}
}

.full-width {
	width: 100%;
}
