nav {
    width: 100vw;
    height: var(--navbar-size);
    top: 0px;
    position: sticky;
    // position: fixed;
    // left: 0px;
    z-index: 100;

    transition: 300ms background-color, 300ms backdrop-filter, 300ms box-shadow;
}

#nav-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3rem;
}

span {
    width: 1px;
    height: 1px;
}

#nav-logo-container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

    #nav-logo-link {
        height: calc(100% - 3.25rem);
        display: inline-block;
        text-decoration: none;

        #nav-logo {
            height: 100%;
            aspect-ratio: 4.85;
            transition: 800ms opacity;
        }
    }
}

#navigator {
    display: flex;
    align-items: center;

    #menu-button {
        background-color: #420850;
        width: calc(100% - 3.25rem);
        aspect-ratio: 1;
        border-radius: 1rem;
        display: none;
    }

    .links-container-desk {
        display: block;

        .nav-link-item-desk {
            margin-left: 2rem;
            transition: color 200ms;
            font-size: 1rem;
            font-weight: 900;
            color: #fff;
            text-decoration: none;

            text-transform: uppercase;

            &:hover:not(.active) {
                color: #7e1e95;
                text-shadow: 0px 0px 10px rgba($color: #fff, $alpha: 0.25);
                // box-shadow: 0px 0px 10px rgba($color: #000, $alpha: 0.75);
            }

            &:focus:not(.active) {
                color: #7e1e95;
                text-shadow: 0px 0px 10px rgba($color: #fff, $alpha: 0.25);
            }
        }

        .active {
            color: #b06bd4;
        }

        .inactive {
            color: #fff;
        }
    }

    .links-container-mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        overflow: hidden auto;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        .nav-link-item-mob {
            margin-block: 0.5rem;
            font-size: 2rem;
            font-weight: 900;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
        }

        .active {
            color: #b06bd4;
        }

        .inactive {
            color: #fff;
        }
    }
}

.blur-bg {
    background-color: rgba($color: rgb(42, 5, 51), $alpha: 0.5);
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 16px rgba($color: #000, $alpha: 0.75);
}

.no-blur-bg {
    background-color: unset;
    backdrop-filter: unset;
    box-shadow: unset;
}

@media screen and (max-width: 700px) {
    #nav-container {
        padding-inline: 1rem;
    }

    #navigator {
        .links-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            z-index: 90;
        }

        .links-container-desk {
            display: none;
        }

        #menu-button {
            width: 30px;
            height: 30px;
            border-radius: 1rem;
            cursor: pointer;
            z-index: 100;

            display: block;
        }
    }
}

@media screen and (max-width: 500px) {
    #nav-logo-container {
        #nav-logo-link {
            height: calc(100% - 2rem);
        }
    }
}

.appear-enter {
    opacity: 0;
}

.appear-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.appear-enter-done {
    opacity: 1;
}

.appear-exit {
    opacity: 1;
}

.appear-exit-active {
    opacity: 0;

    transition: opacity 500ms;
}

.appear-done-active {
    opacity: 0;
}
//------------------------------------------------------------------------------//
//------------------------------------------------------------------------------//
.link-item-app-enter {
    opacity: 0;
    transform: translateY(-32px);
}

.link-item-app-enter-active {
    opacity: 1;
    transform: translateY(0px);

    transition: opacity 500ms, transform 500ms;

    // transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    // transition-timing-function: cubic-bezier(.41,-0.98,0,1.82);
    transition-timing-function: cubic-bezier(0.35, -0.71, 0, 1.89);
}

.link-item-app-exit {
    opacity: 1;
    transform: translateY(0px) translateX(0px);
}

.link-item-app-exit-active {
    opacity: 0;
    transform: translateY(0px) translateX(20px);

    transition: opacity 300ms, transform 300ms;
}
