@use '../../scss/layout/z-index.scss' as Z;
@use '../../scss/base/color';

nav {
	width: 100vw;
	height: var(--navbar-height);
	position: fixed;
	left: 0px;
	top: 0px;
	text-transform: uppercase;
	z-index: Z.$navbar;

	$state-transition: 700ms;
	transition: background-color $state-transition,
		border-bottom $state-transition, $state-transition backdrop-filter,
		$state-transition box-shadow;
}

#nav-container {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 3rem;
}

//style applied on Scroll event
.blur-bg {
	background-color: rgba($color: color.$dark-purple-500, $alpha: 0.75);

	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	box-shadow: 0px 0px 50px 20px
		rgba($color: color.$deep-purple-400, $alpha: 0.75);
	border-bottom: dashed color.$purple-300 2px;
}

//style applied on top of pages
.no-blur-bg {
	background-color: unset;
	-webkit-backdrop-filter: unset;
	backdrop-filter: unset;
	box-shadow: unset;
	border-bottom: dashed transparent 2px;
}

#navigator {
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;

	.links-container-desk {
		display: flex;
		gap: 2rem;

		.nav-link-item-desk {
			font-size: 1rem;
			font-weight: 900;
			color: #fff;
			text-decoration: none;
			transition: color 200ms, text-shadow 200ms;

			//change color and add shadow on hover
			&:hover:not(.active) {
				color: var(--lightest-purple-100);
				text-shadow: 0px 0px 10px rgba($color: #fff, $alpha: 0.85);
			}

			//change color and remove shadow on click
			&:focus:not(.active) {
				color: var(--light-purple-200);
			}
		}

		.active {
			color: var(--light-purple-200);
		}
	}

	.links-container-mobile {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #000;
		overflow: hidden;

		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;

		.mob-items-container {
			display: flex;
			flex-flow: column;
			align-items: flex-end;
		}

		.link-mob-container {
			overflow: hidden;
		}

		.nav-link-item-mob {
			margin-block: 0.5rem;
			font-size: 2rem;
			font-weight: 900;
			text-decoration: none;
			color: #fff;
			display: block;
		}

		.active {
			color: var(--light-purple-200);
		}
	}
}

.button-container {
	height: 80%;
	aspect-ratio: 1;
	overflow: hidden;

	display: none;
	align-items: center;
	justify-content: center;

	#menu-button {
		height: calc(100% - 0.5rem);
		border-radius: 100%;
		aspect-ratio: 1;
		transform: scale(4);
		cursor: pointer;
	}
}

@media screen and (max-width: 700px) {
	#nav-container {
		padding-inline: 1rem;
	}

	#navigator {
		.links-container {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			z-index: 90;
		}

		.links-container-desk {
			display: none;
		}
	}

	.button-container {
		display: flex;
	}
}

@media screen and (max-width: 500px) {
	#nav-logo-container {
		#nav-logo-link {
			height: calc(100% - 2rem);
		}
	}
}

//mobile menu classes
.appear-enter {
	opacity: 0;
}

.appear-enter-active {
	opacity: 1;
	transition: opacity 500ms;
}

.appear-enter-done {
	opacity: 1;
}

.appear-exit {
	opacity: 1;
}

.appear-exit-active {
	opacity: 0;

	transition: opacity 500ms;
}

.appear-done-active {
	opacity: 0;
}

//mobile menu items classes
.link-item-mob-enter {
	opacity: 1;
	transform: translateY(-100%);
}

.link-item-mob-enter-active {
	opacity: 1;
	transform: translateY(0px);

	transition: opacity 500ms, transform 500ms;
	// transition-timing-function: cubic-bezier(0.73, -0.58, 0.26, 1.5);
}

.link-item-mob-exit {
	opacity: 1;
	transform: translateY(0px);
}

.link-item-mob-exit-active {
	opacity: 0;
	transform: translateY(0px);

	transition: opacity 500ms, transform 500ms;
	// transition-timing-function: cubic-bezier(0.73, -0.58, 0.26, 1.5);
}

//classes for desktop navbar items
$links-enter-trans: 1000ms;
.link-item-enter {
	opacity: 0;
	transform: translateY(-20px);
}

.link-item-enter-active {
	opacity: 1;
	transform: translateY(0px);

	transition: opacity $links-enter-trans, transform $links-enter-trans;
	transition-timing-function: ease;
}

.link-item-exit {
	opacity: 1;
	transform: translateY(0px);
}

.link-item-exit-active {
	opacity: 0;
	transform: translateY(-20px);

	transition: opacity $links-enter-trans, transform $links-enter-trans;
	transition-timing-function: ease;
}
