@use '../../scss/layout/z-index.scss' as Z;

.svg-noise {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
	opacity: 0.95;
	mix-blend-mode: soft-light;
}

nav {
	width: 100vw;
	height: var(--navbar-height);
	position: fixed;
	left: 0px;
	top: 0px;
	text-transform: uppercase;
	z-index: Z.$navbar;

	transition: 300ms background-color, 300ms box-shadow,
		300ms -webkit-backdrop-filter;
	transition: 300ms background-color, 300ms backdrop-filter, 300ms box-shadow;
	transition: 300ms background-color, 300ms backdrop-filter, 300ms box-shadow,
		300ms -webkit-backdrop-filter;
}

#nav-container {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 3rem;
}

span {
	width: 1px;
	height: 1px;
}

#nav-logo-container {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;

	#nav-logo-link {
		height: calc(100% - 2.2rem);
		display: inline-block;
		text-decoration: none;

		#nav-logo {
			height: 100%;
			aspect-ratio: 4.85;
			transition: 800ms opacity;
		}
	}
}

//style applied on Scroll event
.blur-bg {
	background-color: rgba($color: rgb(42, 5, 51), $alpha: 0.65);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	box-shadow: 0px 0px 16px rgba($color: #000, $alpha: 0.85);
}

//style applied on top of pages
.no-blur-bg {
	background-color: unset;
	-webkit-backdrop-filter: unset;
	backdrop-filter: unset;
	box-shadow: unset;
}

#navigator {
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;

	.links-container-desk {
		display: block;

		.link-container {
			display: inline-block;
			margin-left: 2rem;
		}

		.nav-link-item-desk {
			font-size: 1rem;
			font-weight: 900;
			color: #fff;
			text-decoration: none;
			transition: color 200ms, text-shadow 200ms;

			&:hover:not(.active) {
				color: #c6a4ee;
				text-shadow: 0px 0px 10px rgba($color: #fff, $alpha: 0.25);
			}

			&:focus:not(.active) {
				color: #a67ed4;
				text-shadow: 0px 0px 10px rgba($color: #fff, $alpha: 0.25);
			}
		}

		.active {
			color: #b06bd4;
		}
	}

	.links-container-mobile {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #000;
		overflow: hidden auto;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;

		.nav-link-item-mob {
			margin-block: 0.5rem;
			font-size: 2rem;
			font-weight: 900;
			text-decoration: none;
			color: #fff;
		}

		.active {
			color: #b06bd4;
		}

		.inactive {
			color: #fff;
		}
	}
}

.button-container {
	height: 80%;
	aspect-ratio: 1;
	overflow: hidden;

	display: none;
	align-items: center;
	justify-content: center;

	#menu-button {
		height: calc(100% - 0.5rem);
		border-radius: 100%;
		aspect-ratio: 1;
		transform: scale(4);
		cursor: pointer;
	}
}

@media screen and (max-width: 700px) {
	#nav-container {
		padding-inline: 1rem;
	}

	#navigator {
		// background-color: chocolate;

		.links-container {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			z-index: 90;
		}

		.links-container-desk {
			display: none;
		}
	}

	.button-container {
		display: flex;
	}
}

@media screen and (max-width: 500px) {
	#nav-logo-container {
		#nav-logo-link {
			height: calc(100% - 2rem);
		}
	}
}

.appear-enter {
	opacity: 0;
}

.appear-enter-active {
	opacity: 1;
	transition: opacity 500ms;
}

.appear-enter-done {
	opacity: 1;
}

.appear-exit {
	opacity: 1;
}

.appear-exit-active {
	opacity: 0;

	transition: opacity 500ms;
}

.appear-done-active {
	opacity: 0;
}
//------------------------------------------------------------------------------//
//------------------------------------------------------------------------------//
.link-item-app-enter {
	opacity: 0;
	transform: translateY(-32px);
}

.link-item-app-enter-active {
	opacity: 1;
	transform: translateY(0px);

	transition: opacity 500ms, transform 500ms;

	// transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	// transition-timing-function: cubic-bezier(.41,-0.98,0,1.82);
	transition-timing-function: cubic-bezier(0.35, -0.71, 0, 1.89);
}

.link-item-app-exit {
	opacity: 1;
	transform: translateY(0px) translateX(0px);
}

.link-item-app-exit-active {
	opacity: 0;
	transform: translateY(0px) translateX(20px);

	transition: opacity 300ms, transform 300ms;
}

/*******************************************************************************/
$links-enter-trans: 800ms;

.link-item-enter {
	opacity: 0;
	transform: translateY(-20px);
}

.link-item-enter-active {
	opacity: 1;
	transform: translateY(0px);

	transition: opacity $links-enter-trans, transform $links-enter-trans;
	transition-timing-function: ease;
}

.link-item-exit {
	opacity: 1;
	transform: translateY(0px);
}

.link-item-exit-active {
	opacity: 0;
	transform: translateY(-20px);

	transition: opacity $links-enter-trans, transform $links-enter-trans;
	transition-timing-function: ease;
}
