$purple-100: #e8bef2;
$purple-200: #ba63cf;
$purple-300: #6f1185;
$purple-350: #4f0f5e;
$purple-400: #450854;
$purple-500: #1b0221;
$purple-600: #0b000d;

$red-100: #fb9999;
$red-200: #d66767;
$red-300: #e74c3c;
$red-400: #d13636;

$green-100: #c2e99e;
$green-200: #84e277;
$green-300: #4ec13f;
