@use 'color';

:root {
	--navbar-height: 70px;

	//color schema
	--dark-purple-500: #{color.$dark-purple-500};
	--deep-purple-400: #{color.$deep-purple-400};
	--purple-300: #{color.$purple-300};
	--light-purple-200: #{color.$light-purple-200};
	--lightest-purple-100: #{color.$lightest-purple-100};
}
