@use "color";

:root {
	--navbar-height: 70px;

	//color schema
	--purple-100: #{color.$purple-100};
	--purple-200: #{color.$purple-200};
	--purple-300: #{color.$purple-300};
	--purple-400: #{color.$purple-400};
	--purple-500: #{color.$purple-500};
	--purple-600: #{color.$purple-600};

	//details
	--global-border-radius: 0.75rem;
}
